<!DOCTYPE html>
<html>

<head>
  <%- include('./../partials/head.ejs') %>
  <title>WA Messager</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
  <%- include('./../partials/header.ejs') %>

  <div id="qrcode" class="padding-10"></div>

  <section id="prospector-container" class="container margin-top-10">
    <%- include('./contact/main.ejs') %>
  </section>
</body>

<footer>
  <%- include('./../partials/footer.ejs') %>

  <script src="/js/messenger.js"></script>
  <script src="/js/contact/main.js"></script>

  <%- include('./message/main.ejs') %>

  <%- include('./websocket.ejs') %>

  <script>
    function generateQRCode({ qrcode, isConnected }) {
      const qrcodeElement = document.getElementById('qrcode');
      if (isConnected) {
        return lib.display(qrcodeElement, "none");
      }

      if (qrcode && qrcodeElement) {
        new QRCode(qrcodeElement, qrcode);
      }

      if (!qrcode && qrcodeElement) {
        qrcodeElement.innerHTML = '<p>❌ QR Code ainda não disponível.</p>';
        // console.error('QR Code is not available.');
      }

      if (!qrcodeElement) {
        console.error('QR Code element not found in the DOM.');
      }
    }

    document.addEventListener('DOMContentLoaded', async () => {
      let response = await API.response(Messenger.qrcode, {});
      generateQRCode(response);

      websocketConnect();
    });
  </script>
</footer>

</html>