<div id="contact-container" class="mobile-box a2-5 ground border-right scroll-y">
  <div class="box a1 container">
    <%- include('./create.ejs') %>
    <%- include('./div.ejs') %>
    <%- include('./filter.ejs') %>
    <%- include('./map/main.ejs') %>
    <%- include('./text-to-speech.ejs') %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    window.addEventListener("resize", function () {
      resizeContactContainer();
    });

    resizeContactContainer();
  });

  function resizeContactContainer() {
    let contact_container = document.getElementById("contact-container");
    let header_container = document.getElementById("header-container");
    contact_container.style.height = (window.innerHeight - header_container.offsetHeight) + "px";
  };
</script>