<div id="contact-container" class="container mobile-box a2-5 ground border-right">
  <%- include('./create.ejs') %>
  <%- include('./filter.ejs') %>
  <%- include('./div.ejs') %>
  <%- include('./map/main.ejs') %>
  <%- include('./text-to-speech.ejs') %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    window.addEventListener("resize", function () {
      resizeContactContainer();
    });

    resizeContactContainer();
  });

  function resizeContactContainer() {
    let contact_box = document.getElementById("contact-box");
    let contact_menu = document.getElementById("contact-menu");
    let contact_filter_icon = document.getElementById("contact-filter-icon");
    let contact_report = document.getElementById("contact-report");

    contact_box.style.height = (window.innerHeight - contact_menu.offsetHeight - contact_filter_icon.offsetHeight) + "px";
  };
</script>