<!DOCTYPE html>
<html style="height:100%;">

<head>
  <%- include('./../partials/head.ejs') %>
  <title>WA Messager</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
  <%- include('./header/main.ejs') %>

  <section id="prospector-container" class="container" style="height:100%;">
    <%- include('./contact/main.ejs') %>
    <%- include('./chat/main.ejs') %>
  </section>
</body>

<footer>
  <%- include('./../partials/footer.ejs') %>

  <script src="/js/messenger.js"></script>
  <script src="/js/contact/main.js"></script>
  <script src="/js/contact/map.js"></script>
  <script src="/js/contact/list.js"></script>
  <script src="/js/message/main.js"></script>
  <script src="/js/speech/main.js"></script>

  <%- include('./message/main.ejs') %>
  <%- include('./websocket.ejs') %>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      websocketConnect();
    });
  </script>
</footer>

</html>